# Data Cleaning in Pandas - Introduction

## Introduction

In this section, you will learn invaluable skills that will form the foundation of your data processing work. Before you can apply machine learning algorithms or do interesting analyses, you often must clean and transform your data into a suitable format. Such initial data wrangling processes are often referred to as Extract Transform Load (ETL). Our primary tool of choice for performing ETL and basic analyses will be the Pandas package.

## Why ETL?

ETL is an essential first step to data analysis and data science. It also will form the foundation for exploratory data analysis. Often, you will be thrown a dataset that you have little to no information about. In these cases, your first step is to explore the data and get familiar with it. What are the columns? How many observations do you have? Are there missing values? Any outliers? If we have user-level data, how can we explore aggregate trends along features like gender, race, or geography? All of these can be answered by applying ETL to transform raw datasets into alternative useful views.

## Quick ETL Example

While you'll see complete examples and explanations for all of these techniques (and more), here's a quick preview of some ETL techniques covered in this section! For more details, continue on to future lessons!

### Import data

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg

### Apply functions

In [2]:
df['Review_Word_Length'] = df['text'].map(lambda x: len(x.split()))
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,Review_Word_Length
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,58
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,30
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,30
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,82
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,32

### Group data

In [6]:
df.groupby('business_id')['stars'].mean().head()

business_id
-050d_XIor1NpCuWkbIVaQ    5.0
-0qht1roIqleKiQkBLDkbw    1.0
-3zffZUHoY8bQjGfPSoBKQ    5.0
-6tvduBzjLI1ISfs3F_qTg    5.0
-9nai28tnoylwViuJVrYEQ    5.0
Name: stars, dtype: float64

### Check for duplicates

In [7]:
# Use the keep=False to keep the duplicates and sort values to put duplicates next to each other
df[df.duplicated(keep=False)].sort_values(by='business_id')

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,Review_Word_Length
3069,-050d_XIor1NpCuWkbIVaQ,0,2009-08-29,0,vp0adLbIlf3RBESXzomZrg,5,One of the best breakfast places in Phoenix. A...,0,LBweMNqEoQi9_-7HhNcWQg,103
1576,-0qht1roIqleKiQkBLDkbw,0,2017-05-10,2,PWAAVV0dhGMAx1RGS76r0Q,1,I went to the cafe/bar at the pool. They charg...,0,-c0HqcXE_2WsS-QhS8FUAA,76
1186,-3zffZUHoY8bQjGfPSoBKQ,0,2011-07-13,0,AN7nMubhX-Zv0CeUb5Qm-A,5,While it's been nearly a year since I had a fa...,0,1cd1TjQEynOjhBT-3Qnsjg,338
4761,-6tvduBzjLI1ISfs3F_qTg,0,2014-11-23,0,Z1u7OmLi288HdwvkwBfKBw,5,Great nachos! They're big. Great grilled Mah...,0,Ds_Z6p651JahD67iMf_crg,36
4998,-9nai28tnoylwViuJVrYEQ,0,2015-03-22,0,u-zqCN_IXfypJIUzIVUuzw,5,Great restaurant and great atmosphere.\r\nI ha...,0,otDVyX37h61WEbqPLEjCmQ,28
...,...,...,...,...,...,...,...,...,...,...
2952,ztP466jMUMtqLwwHqXbk9w,0,2014-02-08,1,OM_aoLO0DjxgOdrhBWb5kg,5,This is the best place for a sit down enjoy di...,0,hMNDVOb28SdXpixI_BnftA,51
3724,zw9_mqWBn1QCfZg88w0Exg,0,2014-04-17,0,Y7MArYMgk6ToWIuKrD9-Kg,5,Great food and wonderful service!!!! The manag...,0,gfK3WCNiD3Mq4BUPVfT4GA,50
2770,zwNLJ2VglfEvGu7DDZjJ4g,0,2016-08-24,0,d-c9HA2NFWlCo77v4SV4ZQ,1,5 stars for the food- i truly love the food he...,1,CwVG-QYRdufyMH_oPPH85w,304
2827,zzYaAiC0rLNSDiFQlMKOEQ,0,2017-08-17,0,9c5xCD1GsGogeTYw1Ovw-w,1,The harlot who rides the beast is the church. ...,0,S63aoGafWASTkpC_dWygEQ,45
698,zzgSiOnuUjnBnmfR-ZG4ww,1,2011-04-27,0,qUKj7zIA1gJq3KW_pIkv6g,5,Dr J. is very passionate about her work and bu...,0,q3AiAe-AcpDrNsdZf8nCvQ,30

### Remove duplicates

In [5]:
df = df[df.duplicated()]

### Recheck for duplicates

In [6]:
# Duplicates should no longer exist
df[df.duplicated(keep=False)].sort_values(by='business_id')

Empty DataFrame
Columns: [business_id, cool, date, funny, review_id, stars, text, useful, user_id, Review_Word_Length]
Index: []

### Create pivot tables

In [7]:
# This transforms the data into a person by person spreadsheet and what stars they gave various restaurants
# Most values are NaN (null or missing) because people only review a few restaurants of those that exist
usr_reviews = df.pivot(index='user_id', columns='business_id', values='stars')
usr_reviews.head()

business_id,-GY2fx-8udXPY8qn2HVBCg,-LRlx2j9_LB3evsRRcC9MA,-MKWJZnMjSit406AUKf7Pg,-eIvRc3aEvufstBumpBTPQ,-lJtyCOTVInWusU9YF120A,01fuY2NNscttoTxOYbuZXw,04u-szAykldu-caSDHQaKA,07F9bkUm3cs83CzGvTi0TA,0QBFtNNj9RIggZGeivcbEg,0bbWKI1lA-bmEeeWOrDmSA,...,xmgLfJ5Jo6hHjY61hzO_EQ,y9hgPwF68tpWEp6onX-3TQ,yADOyFmSlHuixlQ4MtHhcQ,yQUXMWSA8H7wvkLa4iCD8g,yY3jNsrpCyKTqQuRuLV8gw,ynyDiLHzTdf4du9xMhscxg,zJGtD3y-pAIGNId4codEEg,zKw09ftu1730wEIZBZPoFg,zg5rJfgT4jhzg1d6r2twnA,ziv21pDfyrgdhlrlNIgDfg
user_id,,,,,,,,,,,,,,,,,,,,,
-Zdxj4wuj4D_899B7tPE3g,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-ciBvC2RcMtt3JeRW0NDvg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06LACu59TbIHOXYn14CkPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0XKTRsa8Y1A3RHJB5LhuUg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17YRCR1n1FcLAerv2qtmkw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Summary

In this brief introduction, you learned the acronym ETL and got to preview a few examples of ETL processes using pandas. In the upcoming lessons you'll get a much richer understanding of these and other techniques for wrangling your data!